<h1>ようこそ！</h1>

<% if user_signed_in? %>
  <p>現在<%=current_user.email %>さんがログインしています</p>
 <%= link_to 'プロフィール変更',edit_user_registration_path %>
 <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
<% else %>
  <p>現在誰もログインしておりません</p>
 <%= link_to '新規登録', new_user_registration_path %>
 <%= link_to t("devise.shared.links.sign_in"), new_user_session_path %>
<% end %>

