<%= t("posts.show") %>

<div>
  <%= Post.human_attribute_name(:title) %>
  <br>
  <%= @post.title %>
</div>

<div>
  <%= Post.human_attribute_name(:body) %>
  <br>
  <%= @post.body %>
</div>

<% if @post.user_id ==current_user.id %>
<%= link_to t("views.common.edit"),edit_post_path %>
  <%= link_to t("views.common.destroy"), @post,method: :delete, data: { confirm: t('views.common.delete_confirm') }  %>
  <% end %>
<%= link_to t("views.common.back"),posts_path %>

<%= render partial: 'comments/comments',locals: {commentable: @post} %>